--- 
layout: default 
---

<!--
  右方导航
-->
<div class="xui-home-right-nav">
  {% for tag in site.categories %}
  <div class="xui-right-nav-list-title">{{tag[0]}}</div>
  <ul class="xui-right-nav-list">
    {% for article in tag[1] %}
    <li><a href="{{ article.url }}">{{article.title}}</a></li>
    {% endfor %}
  </ul>
  {% endfor%}
</div>

<!--
  内容列表
-->
<div class="xui-home-content">
  <ul class="xui-post-list">
    {% for post in site.posts %}
    <li>
      <a class="xui-post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="xui-article-title"/>
          {{ post.title }}
        <div class="xui-article-content-preview">
          {{ post.content | strip_html | truncate:300 }}
        </div>
      </a>
      <span class="xui-post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>
</div>